.coursesViewTable {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #999;
}
.coursesViewTable td, .coursesViewTable th {
    padding: 3px;
    border: 1px solid #999;
}

.loadingMessage {
    margin-top: 10px;
    text-align: center;
    color: #f00;
}

.center {
    margin: 0;
    position: absolute;
    margin-top: 15px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }